<div class="card shadow">
  <div class="card-header">
    <h2>New Review for <%= @book.title %></h2>
  </div>
  <div class="card-body">
    <%= render 'form', review: @review, book: @book %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back to Book', book_path(@book), class: 'btn btn-secondary' %>
  </div>
</div>